body, div {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}
body {
  background: black;
}


.title {
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: white;
}

.layout-list-item {
  text-align: center;
  line-height: 33px;
}

.image-frame {
  background-color: #fbfbfb;
  text-align: center;
  -border: 1px solid #CCC;
  border-radius: 3px;
}
