body, div {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  /* prevent text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back {
  background: black;
}

.title {
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: white;
}

.panel {
  background-color: rgba(34, 34, 34, 0.7);
}

.layout-list-item {
  padding-left: 10px;
  line-height: 50px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.layout-list-item.selected {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.layout-detail-item-title {
  color: #BBBBBB;
  font-size: 13px;
  text-align: center;
}

.layout-detail-item-input {
  border: none;
  color: white;
  background: rgba(0, 0, 0, 0);
  text-align: center;
}

