body, div {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  color: black;
}

.back {
  background-color: #ececec;
  -background-color: #CCCCCC;
}

.navbar-default, .btn-default {
  background-color: #009bb5;
  border: none;
}

.title {
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: white;
}

.panel {
  background-color: rgba(200, 200, 200, 0.8);
}

.layout-list-item {
  padding-left: 10px;
  line-height: 50px;
  cursor: pointer;
  -color: rgba(255, 255, 255, 0.7);
  color: #333333;
}

.layout-list-item.selected {
  color: white;
  background-color: #009bb5
}

.layout-detail-item-title {
  color: #666666;
  font-size: 13px;
  text-align: center;
}

.layout-detail-item-input {
  border: none;
  color: #333333;
  background: rgba(0, 0, 0, 0);
  text-align: center;
}

/*
.image-frame {
  background-color: #fbfbfb;
  text-align: center;
  -border: 1px solid #CCC;
  border-radius: 3px;
}*/

.item {
  border-bottom: 1px solid #888888;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.4);
}

.item > div {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #999999;
  font-weight: bold;
  font-size: 13px;
}
