body, div {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

.navbar, .panel {
  border-radius: 0;
}

.panel {
  background-color: #f8f8f8;
}

.title {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
}

.layout-list-item {
  text-align: center;
  line-height: 33px;
}

.image-frame {
  background-color: #fbfbfb;
  text-align: center;
  border: 1px solid #CCC;
  border-bottom: 1px solid #AAA;
  border-radius: 3px;
  box-shadow: 0 2px 2px #CCC;
}
.image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.image-content {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  -display: block;
  -margin: auto;
}
